<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p><%= "The pick deadline for week #{@week} is drawing near. Make your pick before 11:59 Central time or it will be defaulted to your next available team in alphabetical order."%></p>
    <p><%= link_to "Go to KOTH site", root_url%></p>
  </body>
</html>
